// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './styles/primary_palette' as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$player-pwa-primary: mat.m2-define-palette($primary-palette, 600);
$player-pwa-accent: mat.m2-define-palette(mat.$m2-orange-palette);

// The warn palette is optional (defaults to red).
$player-pwa-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$player-pwa-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $player-pwa-primary,
      accent: $player-pwa-accent,
      warn: $player-pwa-warn,
    ),
  )
);
$player-pwa-theme-dark: mat.m2-define-dark-theme(
  (
    color: (
      primary: $player-pwa-primary,
      accent: $player-pwa-accent,
      warn: $player-pwa-warn,
    ),
  )
);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  @include mat.all-component-themes($player-pwa-theme);

  &.dark-theme {
    @include mat.all-component-colors($player-pwa-theme-dark);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
